.player {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color: rgb(28, 32, 30, 0.8);
    width: 90px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 5px;

    span{
        font-size: 16px;
        color: white;
        margin-top: 15px;
    }

    img {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: rgb(105, 39, 52);
}

